.App {
  max-width: 400px;
  margin: 10px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#modal {
  position: fixed;
  bottom: 0;
  margin: 0 20px;
  width: calc(100% - 40px);
}
